<h1><%= @task.title %></h1>
<%= form_for(@task) do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :details %>
      <%= f.text_field :details, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.check_box :completed %>
      <%= f.label "Completed" %> <br>
    </div>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %> <br>

<button class='btn btn-primary'><%= link_to'Home Page', tasks_path, :style =>'color: white;' %></button>
